body{
    background-color: #4BA3C3;                   /*** esee ***/
    margin: auto 50%;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #fff;
   

}
#bar{
    display: flex;
    color:#fff;                                 /*** esee ***/
    justify-content: space-around;
    background-color: #175676;
    align-items: center;
    
    
}

#items{
    display: flex;                                 /*** esee ***/
    text-decoration: none;
    background-color: none;
    justify-content: space-around;
    width: 35%;
    
}

#items a{                                        /*** esee ***/
    font-size: 120%;
    text-decoration: none;
    color: white;
}



#items a:hover {                                 /*** esee ***/
    font-size: 130%;
    text-decoration: none;
    color: #4BA3C3;
  }

  h1{                                         /*** esee ***/
    font-size: 250%;

  }

  /***  UP TO HERE IS THE BAR ***/


 
form{
    margin: auto;
    display: inline;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
}

#themain{
    display:flex;
    margin-top: 5%;
   
    
}



#TheNames{
   display: block;
   
    
}


.fpart{
    margin-left:auto;
    margin-top: 1%;
}

input{
    margin-top: 40px;
}



form, input[type='text']{

    margin-top: 50px;
    width: 30%;
    border: 0px;   
    background-color: transparent;
    color: white;
    border-bottom: 1px solid black;
    gap: 1%;

}


form, input[type='email']{
    color: white;
    margin-top: 50px;
    width: 60%;
    border: 0px;  
    background-color: transparent;
    border-bottom: 1px solid black;
    

}


form, textarea{
    width: 60%;
    border: 0px;  
    background-color: transparent;
    color: white;
    margin-bottom: 1px solid black;
    

}



#btn{
    background-color: #175676;
    width: 60%;
    color: white;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
 
}


p{
    font-family: Snell Roundhand, cursive;
    font-size: 200%;
}
/***

#fwrapper{
    border:1px solid black;
    display: grid;
    grid-template-columns: 30%;
    height: 400px;
    display: flex;
    position: relative;
    width: 80%;
    background-color: #175676;
    min-width: 300px;
    border-radius: 20px;
    color: white;
    margin: auto;
}


#TheNames{
    background-color: red;
    display: flex;
    
}



form, input[type='text']{
    border: 0px;   
    background-color: transparent;
    color: white;
    border-bottom: 1px solid black;
    

}


form, input[type='email']{
    border: 0px;  
    background-color: transparent;
    border-bottom: 1px solid black;
    

}


form, textarea{
    border: 0px;  
    background-color: transparent;
    color: white;
    margin-bottom: 1px solid black;
    

}



#btn{
    background-color: #4BA3C3;
    cursor: pointer;
    border-radius: 20px;
 
}
***/
#foot{
    
   position: absolute;
   width: 100%;
   bottom: 0px;
   text-align: center;
   margin-left: auto;
   background-color: #175676;
   height: 100px;
   align-items: center;
}


#foot, h4{
    
    
    color: white;
    margin-bottom: 0px;
 }
 


a{
    text-decoration: none;
    color: #4BA3C3;
}









@media screen and (max-width: 1185px) {



    #bar{
        width: 100%;              /*** esee ***/
        
        
    }

    #bar,#items{

        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding-bottom: 1%;       /*** esee ***/

        }


        #themain{
            
            display: flex;
            justify-content: center;
            margin-top: 20px;
           
            
        }

        

        
        
        #foot{
            position: relative;
            bottom: 0px;
            text-align: center;
            margin-top: 5%;
            
         }
         

         #foot, h4{
            color: white;
            align-items: center;
            align-self: center;
            text-align:center;
            padding-top: 1%;
           
         }


         
         form, input[type='text']{

            display: block;
            margin-top: 50px;
            width: 100%;
            border: 0px;   
            background-color: transparent;
            color: white;
            border-bottom: 1px solid black;
            gap: 1%;
            
        
        }
        
        
        form, input[type='email']{
            color: white;
            margin-top: 50px;
            width: 100%;
            border: 0px;  
            background-color: transparent;
            border-bottom: 1px solid black;
            
           
        
        }
        
        
        form, textarea{
            width: 100%;
            border: 0px;  
            background-color: transparent;
            color: white;
            margin-bottom: 1px solid black;
            
            
        
        }
        
        
        
        #btn{
            background-color: #175676;
            float: left;
            width: 100%;
            color: white;
            height: 40px;
            cursor: pointer;
            border-radius: 20px;
            
        }
        

        #themain{
            margin: 20px;
        }
      

        














    }
